:host {
    display: block;
    width: 100%;
}

.picker{
    display: flex;
    justify-content:space-between;
    mat-form-field {
        width: 48%;
    }
}

@media only screen and (max-width:  840px) {
    .picker {
        flex-direction: column;
    mat-form-field {
        width: 100%;
    }

}
} 