<div [formGroup]="form">
    <mat-form-field class="w-100" appearance="outline">
        <input matInput placeholder="Add new task..." formControlName="title">
    </mat-form-field>

    <h3>
        Description
    </h3>
    <mat-form-field class="w-100" appearance="outline">
        <textarea matInput rows="6" formControlName="description">
        </textarea>
    </mat-form-field>
    <div class="picker">
      <mat-form-field appearance="outline">
            <mat-label>Due date</mat-label>
            <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" formControlName="dueDate" (click)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="ml-auto" appearance="outline">
            <mat-label>Piority</mat-label>
            <mat-select formControlName="piority">
                <mat-option value="low">Low</mat-option>
                <mat-option value="normal">Normal</mat-option>
                <mat-option value="high">High</mat-option>
            </mat-select>
        </mat-form-field>


    </div>
    <button class="w-100 btn-green" mat-raised-button (click)="save()">
        {{type === 'add' ? 'Add' : 'Update'}}
    </button>