123
<mat-card>
  <mat-card-content>
    <div class="container h-100">
      <div class="px-50 add-task">
        <h2 class="center">
          New Task
        </h2>
        <app-task [type]="'add'"></app-task>
      </div>

      <div class="list-task pb-80">
          <div class="px-50 mx-auto">
          <h2 class="center">
            Todo List
          </h2>
          <mat-form-field class="w-100" appearance="outline">
            <input matInput placeholder="Search..." [formControl]="search">
          </mat-form-field>

          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel [hideToggle]="true" *ngFor="let task of filteredTask" style="margin-bottom: 15px">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-checkbox (click)="onTaskSelect(task.id);$event.stopPropagation();">{{task.title}}</mat-checkbox>
                </mat-panel-title>
                <mat-panel-description>
                  <div class="ml-auto d-flex">
                    <button mat-raised-button class="btn-action btn-detail btn-light-blue">Detail</button>
                    <span class="material-icons icon-detail">
                      info
                      </span>
                    <button mat-raised-button class="btn-action btn-remove" style="margin-left: 16px" color="warn"
                      (click)="removeTask(task.id); $event.stopPropagation();">Remove</button>
                        <mat-icon class="icon-remove" (click)="removeTask(task.id); $event.stopPropagation();">delete</mat-icon>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-task [task]="task"></app-task>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div *ngIf="tasks?.length && selectedTaskIds?.length" class="bulk-action">
          <span>Bulk action:</span>
          <div class="d-flex">
            <button mat-raised-button class="btn-action btn-blue btn-detail">Done</button>
              <mat-icon class="mr-10 icon-detail fs-large">done_outline</mat-icon>
            <button mat-raised-button class="btn-action btn-remove" style="margin-left: 16px" color="warn"
              (click)="bulkActionRemove()">Remove</button>
                <mat-icon class="icon-remove fs-large"
                 (click)="bulkActionRemove()">delete</mat-icon>
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>