

.px-50 {
    padding: 0px 50px;
}

.bulk-action {
    display: flex;
    bottom: 0;
    position: absolute;
    height: 70px; width: 100%;
    background-color:#e0e0e0;
    border-top: 1px solid #000;
    span {
        margin:0 16px;align-self: center;
    }

    div {
        align-items: center; margin-right: 16px; margin-left: auto;
        height: 100%;
        mat-icon{
            margin-right: 25px !important;
            transform: translateY(-50%);
        }
    }
}

.add-task {
    width: 40%;
    border-right: 1px solid #000; height: 100%; max-height: 100%;
    h2 {
        margin-top: 10px;
    }
}

.list-task {
    width: 60%;
    position: relative; max-height: 100%; height: 100%; overflow: hidden;
    div:first-child { 
        overflow-y: scroll; max-height: 100%;
    }
    h2 {
        margin-top: 10px;
    }
}
.icon-detail, .icon-remove{
    display: none;
}

@media only screen and (max-width:  840px) {
    .icon-detail {
        color: #00bcd4;
        margin-right: 10px;
        display: block;
        cursor: pointer;
    }
    .icon-remove{
        display: block;
        color: #d9534f;
        cursor: pointer;
    }
    .btn-detail, .btn-remove{
        display: none;
    }
    
} 