/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; overflow: hidden !important; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    box-sizing: border-box;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.btn-action {
   width: 100px;
}

.w-50 {
    width: 50%;
}

.ml-auto {
    margin-left: auto;
}

.pt-10 {
    margin-top: 10px;
}

.mr-10{
    margin-right: 10px !important;
}

.center {
    text-align: center;
}

mat-card {
    padding: 0px 50px;
    max-height: 100vh;
    height: 100vh;
}

mat-card-content {
    border: 1px solid #000;
    height: 100%;
}

.mat-checkbox {
    align-self: center;
}

.mat-expansion-panel-header {
    padding: 0 !important;
}

.mat-expansion-panel-header-title {
    margin-left: 16px;
}

.mat-expansion-panel-header-description {
    padding: 0 !important;
    margin-right: 16px !important;
}

.container {
    display: flex;
    justify-content: space-between;
}

.mx-auto{
    margin: 0 auto;
}

.btn-green {
    background-color: #4baf50;
    color: #fff;
}

.btn-blue {
    background-color: #2296f3;
    color: #fff;
}

.btn-light-blue {
    background-color: #00bcd4;
    color: #fff;
}

.btn-red{
    background-color: #d9534f;
    color: #fff;
}

.d-flex{
    display: flex;
    align-self: center;
}

.pb-80{
    padding-bottom: 80px;
}

.fs-large{
    font-size: xx-large;
}

@media only screen and (max-width:  840px) {
    .container{
        flex-direction: column;
        overflow: scroll;
        height: auto;
    }
    mat-card-content {
        overflow: scroll;
    }


    .list-task{
        width: 100% !important;
    }

    .add-task{
        border-bottom: 1px solid #000;
        border-right: none !important;
        padding-bottom: 24px !important;
        width: 100% !important;
    }



}